<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISesionService" />
                <binding name="WSDualHttpBinding_IEstadisticasService" />
                <binding name="WSDualHttpBinding_IPalabraService" />
                <binding name="WSDualHttpBinding_IPartidaService" />
                <binding name="WSDualHttpBinding_IUsuarioService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54669/Servicios/SesionService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISesionService"
                contract="SesionServiceRef.ISesionService" name="WSDualHttpBinding_ISesionService">
                <identity>
                    <userPrincipalName value="TUF15_MAX\Maxim" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:54669/Servicios/EstadisticasService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IEstadisticasService"
                contract="EstadisticasServiceRef.IEstadisticasService" name="WSDualHttpBinding_IEstadisticasService">
                <identity>
                    <userPrincipalName value="TUF15_MAX\Maxim" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:54669/Servicios/PalabraService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPalabraService"
                contract="PalabraServiceRef.IPalabraService" name="WSDualHttpBinding_IPalabraService">
                <identity>
                    <userPrincipalName value="TUF15_MAX\Maxim" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:54669/Servicios/PartidaService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPartidaService"
                contract="PartidaServiceRef.IPartidaService" name="WSDualHttpBinding_IPartidaService">
                <identity>
                    <userPrincipalName value="TUF15_MAX\Maxim" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:54669/Servicios/UsuarioService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IUsuarioService"
                contract="UsuarioServiceRef.IUsuarioService" name="WSDualHttpBinding_IUsuarioService">
                <identity>
                    <userPrincipalName value="TUF15_MAX\Maxim" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>