<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
				<binding name="WSDualHttpBinding_ISesionService" clientBaseAddress="http://192.168.1.71:54670/Sesion">
					<security mode="None" />
				</binding>
				<binding name="WSDualHttpBinding_IEstadisticasService" clientBaseAddress="http://192.168.1.71:54670/Estadisticas">
					<security mode="None" />
				</binding>
				<binding name="WSDualHttpBinding_IPalabraService" clientBaseAddress="http://192.168.1.71:54670/Palabra">
					<security mode="None" />
				</binding>
				<binding name="WSDualHttpBinding_IPartidaService" clientBaseAddress="http://192.168.1.71:54670/Partida">
					<security mode="None" />
				</binding>
				<binding name="WSDualHttpBinding_IUsuarioService" clientBaseAddress="http://192.168.1.71:54670/Usuario">
					<security mode="None" />
				</binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.68:54669/Servicios/EstadisticasService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IEstadisticasService"
                contract="EstadisticasServiceRef.IEstadisticasService" name="WSDualHttpBinding_IEstadisticasService">
                
            </endpoint>
            <endpoint address="http://192.168.1.68:54669/Servicios/PalabraService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPalabraService"
                contract="PalabraServiceRef.IPalabraService" name="WSDualHttpBinding_IPalabraService">
                
            </endpoint>
            <endpoint address="http://192.168.1.68:54669/Servicios/SesionService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISesionService"
                contract="SesionServiceRef.ISesionService" name="WSDualHttpBinding_ISesionService">
                
            </endpoint>
            <endpoint address="http://192.168.1.68:54669/Servicios/UsuarioService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IUsuarioService"
                contract="UsuarioServiceRef.IUsuarioService" name="WSDualHttpBinding_IUsuarioService">
                
            </endpoint>
            <endpoint address="http://192.168.1.68:54669/Servicios/PartidaService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPartidaService"
                contract="PartidaServiceRef.IPartidaService" name="WSDualHttpBinding_IPartidaService">
                
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>